@import './variables';

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(247, 237, 223);
  color: $textColor;
}

nav {
  @include flexCenter(row);
  justify-content: space-between;
  a {
    display: inline-block;
    margin: 1em;
    color: $navLink;
  }
}

h1 {
  color: $textColor;
}

.right-nav-container {
  img {
    width: 3vw;
    height: 3.5vh;
  }
}

.header {
  @include flexCenter(row);
}

.homepage-header {
  @include flexCenter(column);
}

.homepage-breads-container {
  @include flexCenter(row);
  margin: 25px;
  img {
    margin: 10px;
    width: 30vw;
    height: 40vh;
  }
}

.all-breads {
  @include flexCenter(row);
  flex-wrap: wrap;
  div {
    margin: 10px;
  }
  img {
    width: 30vw;
    height: 40vh;
  }
}

#category-search {
  @include flexCenter(row);
  margin: 10px;
  select {
    width: 8vw;
  }
}

.single-page {
  @include flexCenter(column);
  margin: 20px;
  width: 80%;
  h1 {
    align-self: flex-start;
  }
  img {
    align-self: flex-start;
    width: 40vw;
    height: 60vh;
    padding-right: 10px;
  }
  p {
    margin: 0px;
  }
}

.single-page-row {
  @include flexCenter(row);
}

.single-page-info {
  @include flexCenter(column);
  align-self: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  input {
    width: 5vw;
  }
}

#user-home {
  @include flexCenter(row);
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100vw;
}

#account-info {
  margin-bottom: 20px;
  //width: 50vw;
}

#edit-account {
  @include flexCenter(column);
  form {
    div {
      @include flexCenter(column);
      align-items: flex-start;
      // label {
      //   @include flexCenter(row);
      //   justify-content: space-between;
      // }
    }
  }
}

.current-order {
  @include flexCenter(column);
  h4 {
    align-self: center;
  }
}

#single-order-details {
  @include flexCenter(column);
  align-items: flex-start;
  margin-bottom: 15px;
  margin-left: 10px;
}

.cart-item {
  @include flexCenter(row);
  height: 40vh;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 25px;
  h4 {
    margin: 5px;
    margin-bottom: 35px;
  }
  div {
    @include flexCenter(column);
    align-items: flex-start;
    margin: 5px;
    p {
      margin: 5px;
    }
  }
  img {
    width: 25vw;
    height: 40vh;
  }
}

.cart-details {
  width: 50vw;
  height: 100%;
  h4 {
    margin-top: 1px;
  }
}

.quantity {
  @include flexCenter(row);
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.checkout {
  @include flexCenter(column);
  button {
    width: 10vw;
  }
}

#shipping-info {
  @include flexCenter(column);
  input {
    margin-bottom: 10px;
  }
}

a {
  text-decoration: none;
  color: $textColor;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2vh;
  background: white;
  &:hover {
    background: rgb(214, 208, 208);
  }
  color: $textColor;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  border-radius: 5px 5px 5px 5px;
  border-color: $textColor;
  border-width: 1px;
}

table,
th,
td {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  th {
    width: 8vw;
  }
}

td {
  text-align: center;
}
